@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_PlainLayout";
}

<section class="content text-center">
    <h2 class="headline text-success">
        <em class="fas fa-check text-success"></em>
        Email Confirmed!
    </h2>
    <div class="error-content">
        <h3>
            Thank you for confirming your email.
        </h3>
        Please log in by clicking <a href='~/'>here</a>.
    </div>
</section>


