@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = SysExpressionHelper.Get(Language.English, ExpressionTypes.SysCustomUser, SysCustomUserExpression.CustomUser_CheckYourEmailForResetPassword.ToInt());
    Layout = "_LoginLayout";
}

<header>
    <p class="text-info text-center">
        <em class="fas fa-envelope"></em>
        @SysExpressionHelper.Get(Language.English,ExpressionTypes.SysCustomUser,SysCustomUserExpression.CustomUser_CheckYourEmailForResetPassword.ToInt())
    </p>
</header>