@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "_LoginLayout";
}


<header>
    <p class="text-info text-center">
        <em class="fas fa-key"></em>
        @SysExpressionHelper.Get(Language.English, ExpressionTypes.SysCustomUser,SysCustomUserExpression.CustomUser_PasswordHasBeenReset.ToInt())
        <br />
        <br />
        <a class="btn btn-info" asp-page="./Login">
            Login
        </a>
    </p>
</header>