<section class="content-header text-center mt-5">
    <section class="content">
        <div class="error-content" style="text-align:center">
            <h3><em class="fas fa-exclamation-triangle text-warning"></em> Oops!</h3>
            <p>
                The content you're looking for was not found!
                Meanwhile, you may <a href="/">return to dashboard</a> or <a href="@ViewBag.OriginalPath">try it again</a>.
            </p>
        </div>
    </section>
    <h1 class="headline text-warning" style="font-size:200px;"> @ViewBag.StatusCode</h1>
</section>
