<section class="content-header text-center mt-5">
    <section class="content">
        <div class="error-content" style="text-align:center">
            <h3><em class="fas fa-exclamation-triangle text-warning"></em> Oops!</h3>
            <p>
                There is no possibility to modify this record!
                Meanwhile, you may  <a href="~/@ViewBag.ReturnUrl">return</a>.
            </p>
        </div>
    </section>
    <h1 class="headline text-warning" style="font-size:200px;"> </h1>
    <img alt="lockGif" src="~/img/lock.gif" />
</section>
